[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = learning git
[access "refs/*"]
	owner = group user/shanuagarwal
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shanuagarwal
	label-Verified = -1..+1 group user/shanuagarwal
	push = group user/shanuagarwal
	read = group user/shanuagarwal
	rebase = group user/shanuagarwal
	removeReviewer = group user/shanuagarwal
	submit = group user/shanuagarwal
[access "refs/heads/*"]
	create = group user/shanuagarwal
	push = +force group user/shanuagarwal
	pushMerge = group user/shanuagarwal
	read = group user/shanuagarwal
[access "refs/tags/*"]
	push = group user/shanuagarwal
	push = +force group user/shanuagarwal
